*.swp
*.kate-swp
*.dat
*.lno
*.log
*.asm
config*.py
config.sh
updconfig.sh
releaseconfig.sh
releaseconfig_*.sh
qcsrc/common/rm_auto.qh
release/*
!release/.*
*.pk3dir/_*
cache/*
pkgcache/*
!pkgcache/.*
build/*
*~
*.sublime-workspace
